.str-chat__list {
  background-color: #f8f8f8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 5px;
  height: 240px;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.str-chat__list::-webkit-scrollbar {
  width: 6px;
}

.str-chat__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(115, 114, 114, 0.2);
}

.str-chat__list ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

.str-chat__list li {
  list-style-type: none;
  background-color: #f3f3f3;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.str-chat__message-data,
.str-chat__message-simple-data {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.str-chat__message-simple-timestamp,
.str-chat__date-separator-date {
  order: 2;
  font-size: 14px;
  color: #a1a1a1;
}

.str-chat__message-simple-name {
  order: 1;
  font-size: 14px;
  color: #a1a1a1;
}

.str-chat__message-text-inner {
  font-size: 16px;
  padding-left: 5px;
}

.str-chat__message-text-inner p {
  margin: 0;
}

.str-chat__input-flat {
  width: 300px;
  height: 60px;
  background-color: #F8F8F8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.str-chat__input-flat-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  padding: 8px 20px 5px 10px;
}

.str-chat__input-flat--textarea-wrapper,
.rta {
  width: 100%;
  height: 100%;
}

.rta__textarea {
  resize: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  height: 45px;
  background: #F8F8F8;
  outline: none;
  margin: 0;
}

.rta__textarea:focus {
  border: 1px solid #F3F2F2;
  background: #ffffff;
}

.str-chat__send-button {
  border: none;
  width: 20px;
  height: 20px;
  background: inherit;
  padding: 0;
  margin-bottom: 4px;
  background-image: url('../assets/send-fill.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.str-chat__list .str-chat__message-simple-status,
.str-chat__list .str-chat__avatar,
.str-chat__message-simple__actions,
.rfu-dropzone__notifier,
.str-chat__emojiselect-wrapper,
.str-chat__fileupload-wrapper,
.str-chat__send-button svg,
.str-chat__empty-channel,
.str-chat__date-separator-line {
  display: none;
}